<form class="bg-light p-3 rounded" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Create new post</h2>

  <div class="form-group">
    <label for="title">Title:</label>
    <input formControlName="title" type="text" class="form-control form-control-lg" id="title"
           placeholder="Enter title">
    <div *ngIf="form.get('title').touched && form.get('title').invalid">
      <small *ngIf="form.get('title').errors.required" class="error">You must enter title</small>
    </div>
  </div>

  <div class="form-group">
    <label>Text:</label>
    <quill-editor formControlName="text" trackChanges="all" [modules]="quill.modules"></quill-editor>
  </div>

  <div class="form-group">
    <label for="author">Author:</label>
    <input formControlName="author" type="text" class="form-control form-control-lg" id="author">
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-warning">Create</button>

</form>
