<div *ngIf="posts; else loading">

  <div class="form-group">
  <input class="form-control form-control-lg" type="text" placeholder="filter posts" [(ngModel)]="searchStr">
  </div>

  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | searchPosts: searchStr; let idx = index">
      <th scope="row">{{ idx + 1 }}</th>
      <td>{{ post.author }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.date | date: 'medium':null: 'ru' }}</td>
      <td>
        <button routerLink="/admin/post/{{post.id}}/edit" class="btn btn-info">Edit</button>
        <button (click)="remove(post.id)" class="btn btn-danger">&times;</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div class="jumbotron text-center">Loading...</div>
</ng-template>
