@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

body {
  background-image: url("assets/wall.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
